

<!DOCTYPE html>
<html lang="en" data-ng-app="website">
<head>
    
    
            <meta charset="utf-8">
        <title>Testimonial</title>
        <link rel="SHORTCUT ICON" href="assets/images/favicon-1484.ico?_build=1540674209" type="image/vnd.microsoft.icon" />

                                    
<!--<link rel="canonical" href="https://template66410.motopreview.com/testimonial/" />-->
                            <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    
            <link rel="stylesheet" href="assets/css/assets.min.css?_build=1538056176"/>
        <link rel="stylesheet" href="assets/css/styles.css?_build=1540674209"/>
        <style>
@import url(//fonts.googleapis.com/css?family=Abril+Fatface:regular|Montserrat:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic|Roboto:300,300italic,regular,italic,500,500italic,700,700italic&subset=latin);
</style>
        <link rel="stylesheet" href="assets/css/styles2.css?_build=1538748417" id="moto-website-style"/>
            
    
    
    
    
    
    
    
</head>
<body class="moto-background">
    
    
             

    <div class="page">

        <header id="section-header" class="header moto-section" data-widget="section" data-container="section">
                                    <div class="moto-widget moto-widget-block moto-bg-color5_5 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="block" data-spacing="mama" style="">
    
    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">
                
            <div class="moto-widget moto-widget-container moto-container_header_5a0165cf1" data-widget="container" data-container="container" data-css-name="moto-container_header_5a0165cf1" data-moto-sticky="{ }">
    
    
<div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="">
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_1"><a data-action="page" data-id="1" class="moto-link" href="index.html">CLEAR SKIN</a></p><p class="moto-text_system_2"><a data-action="page" data-id="1" class="moto-link" href="index.html">DERMATOLOGY CLINIC</a></p></div>
</div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
<div data-widget-id="wid__menu__5b1651165e644" class="moto-widget moto-widget-menu moto-preset-3 moto-align-right moto-align-center_mobile-h moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-preset="3" data-widget="menu">
            <a href="#" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
        <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
            <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
    <a href="index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">HOME<span class="fa moto-widget-menu-link-arrow"></span></a>
                <ul class="moto-widget-menu-sublist">
                    <li class="moto-widget-menu-item">
    <a href="about-us.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">About us</a>
        </li>
                    <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
    <a href="blog.html"   data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">Blog<span class="fa moto-widget-menu-link-arrow"></span></a>
                <ul class="moto-widget-menu-sublist">
                    <li class="moto-widget-menu-item">
    <a href="contacts.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">Contacts</a>
        </li>
            </ul>

        </li>
                    <li class="moto-widget-menu-item">
    <a href="gallery.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">Gallery</a>
        </li>
            </ul>

        </li><li class="moto-widget-menu-item">
    <a href="services.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">SERVICES</a>
        </li><li class="moto-widget-menu-item">
    <a href="doctors.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">DOCTORS</a>
        </li><li class="moto-widget-menu-item">
    <a href="testimonial.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">TESTIMONIAL</a>
        </li><li class="moto-widget-menu-item">
    <a href="gallery.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">GALLERY</a>
        </li><li class="moto-widget-menu-item">
    <a href="make-an-appointment.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">APPOINTMENT</a>
        </li><li class="moto-widget-menu-item">
    <a href="contacts.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">CONTACTS</a>
        </li>        </ul>
    </div></div>

                
            
        </div>
    </div>
</div></div></div>
        </div>
    </div>
</div>            
        </header>

        <section id="section-content" class="content page-17 moto-section" data-widget="section" data-container="section">
                                    <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="background-image:url(assets/images/mt-1484-content-bg-1.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/06/mt-1484-content-bg-1.jpg" data-bg-position="center">
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">
                
                    
                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_4">Testimonial</p></div>
</div>
        
    
</div>

                
            
        </div>
    </div>
</div>
                    
                
                    
                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9">Here you can find the what our clients say about our clinic</p></div>
</div>
        
    
</div>

                
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
</div>

                
            
        </div>
    </div>
</div>
                    
                
            </div>
        </div>
    </div>
</div>
                                                
        <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto moto-bg-color5_3" data-widget="block" data-spacing="lala" style="" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">
                
                    
                        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_10"><span class="moto-color_custom2">TESTIMONIALS</span></p></div>

</div><div data-widget-id="wid_1528192359_nlgvs4z0k" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
    <hr class="moto-widget-divider-line" style="max-width:100%;width:3%;">
</div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_8">What Clients Say</p></div>
</div></div>

                
            
                
                    

                
            
                
                    

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto row-fixed" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="maaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-color_custom2"><span class="fa"></span></span></p><p class="moto-text_system_9" style="text-align: center;">&nbsp;</p><p class="moto-text_system_9" style="text-align: center;">I go there regularly for my psoriasis and have always had wonderful customer services. The staff at the clinic were all very friendly and professional and I love working with Dr. Smith.</p><p class="moto-text_system_9" style="text-align: center;">&nbsp;</p><p class="moto-text_system_10" style="text-align: center;">MERY DOWEN</p><p class="moto-text_normal" style="text-align: center;">Client</p></div>
</div></div>

                
            
        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="maaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-color_custom2"><span class="fa"></span></span></p><p class="moto-text_system_9" style="text-align: center;">&nbsp;</p><p class="moto-text_system_9" style="text-align: center;">I couldn't be happier with the result. I have my skin and my confidence back! Everyone in Skin Care Clinic have been so efficient and friendly, making me feel very comfortable.</p><p class="moto-text_normal" style="text-align: center;">&nbsp;</p><p class="moto-text_system_10" style="text-align: center;">SINDY GEFERSON</p><p class="moto-text_normal" style="text-align: center;">Client</p></div>
</div>
        
    
</div><div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="maaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-color_custom2"><span class="fa"></span></span></p><p class="moto-text_system_9" style="text-align: center;">&nbsp;</p><p class="moto-text_system_9" style="text-align: center;">Dr. Malcolm &nbsp;has shown me that he has real concern for his patients. If you need dermatology care, Skin Care Clinic is as good as it gets.</p><p class="moto-text_normal" style="text-align: center;">&nbsp;</p><p class="moto-text_system_10" style="text-align: center;">BOB PETERSON</p><p class="moto-text_normal" style="text-align: center;">Client</p></div>
</div>
        
    
</div></div>
    </div>
</div>
                    
                
                    
                        
                    
                
            </div>
        </div>
    </div>
</div><div class="moto-widget moto-widget-block moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="aaaa" style="" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">
                
                    
                        <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">
    
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-image:url(assets/images/mt-1484-content-bg-4.jpg);background-position:right;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/06/mt-1484-content-bg-4.jpg" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="right">
    
    
        
            <div data-widget-id="wid_1528192563_7w1087ec7" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:236px"></div>
</div>
        
    
        
            <div data-widget-id="wid_1528192563_b6luf4300" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_desktop"
    data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="desktop">
    <div class="moto-widget-spacer-block" style="height:420px"></div>
</div>
        
    
</div>

                
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
        
            <div data-widget-id="wid_1528192563_rou11uc0q" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="mama" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div>
        
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_201">Book an Appointment</p></div>
</div>
        
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="amma" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9">For your convenience, you can click here to send us an email requesting an appointment at our Skin Care Clinic or:</p></div>
</div>
        
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10"><span class="moto-color_custom2">CALL:</span></p><p class="moto-text_system_10"><br></p><p class="moto-text_system_9"><a href="tel:1234567890" data-action="call" class="moto-link">+90 (123) 456 78 99</a></p></div>
</div>
        
    
        
            <div data-widget-id="wid_1528192563_w1kl5fqdf" class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
    <hr class="moto-widget-divider-line" style="max-width:100%;width:48px;">
</div>
        
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="saaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10"><span class="moto-color_custom2">EMAIL:</span></p><p class="moto-text_system_10">&nbsp;</p><p class="moto-text_system_9"><a href="mailto:mail@demolink.com" data-action="mail" class="moto-link">mail@demolink.com</a></p></div>
</div>
        
    
        
            <div data-widget-id="wid_1528192563_sc80lzi1h" class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
    <hr class="moto-widget-divider-line" style="max-width:100%;width:48px;">
</div>
        
    
</div>

                
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aala" data-bg-position="left top">
    
    
        
            <div data-widget-id="wid_1528192563_7bkojr6hs" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="mama" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div>
        
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_201">Write a Massage</p></div>
</div>
        
    
        
            <div data-widget-id="wid_1528192563_pumtk8ykm" class="moto-widget moto-widget-contact_form moto-preset-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-preset="2" data-widget="contact_form" data-spacing="aaaa">
        <div ng-controller="widget.ContactForm.Controller" ng-init="hash = '2@eyJoIjoiZ1g0Qit0MmZSZWRYcUY3cUZcL2pkXC92TnpwTllsNWVCYnV3VXFHUHJEV2ZJPSIsImkiOiI1dXVWUm9cL29UbWdMOWY2VTZvTU5vUT09IiwidiI6ImVlRlRnWTlUcXd5XC9zT1lQVkhwZWhzMDV0YVlheGJFbElhVFJcL0w5NEFMaFFGbk1renlKeERVRzRqNEllVFhRUEdIYVZEV05La0pvTEJ4Zm1STkYyTVE9PSJ9';actionAfterSubmission={&quot;action&quot;:&quot;none&quot;,&quot;url&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;id&quot;:&quot;&quot;};resetAfterSubmission=false">
                <form class="moto-widget-contact_form-form" role="form" name="contactForm" ng-submit="submit()" novalidate>
            <div ng-show="sending" class="contact-form-loading"></div>

                                                                        <div class="moto-widget-contact_form-group">
                            <label for="field_name" class="moto-widget-contact_form-label">Your Name</label>
                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Your Name *"  ng-blur="validate('name')" required  ng-model-options="{ updateOn: 'blur' }" name="name" id="field_name" ng-model="message.name"/>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.name.$invalid && !contactForm.name.$pristine && !contactForm.name.emailInvalid" >Field is required</span>
                                                                                    </div>
                                    
                                                                        <div class="moto-widget-contact_form-group">
                            <label for="field_email" class="moto-widget-contact_form-label">E-mail</label>
                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="E-mail *"  ng-blur="validate('email')" required  ng-model-options="{ updateOn: 'blur' }" name="email" id="field_email" ng-model="message.email"/>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.$invalid && !contactForm.email.$pristine && !contactForm.email.emailInvalid" >Field is required</span>
                                                                    <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.emailInvalid && !contactForm.email.$pristine" >Incorrect email</span>
                                                                                    </div>
                                    
                                                                        <div class="moto-widget-contact_form-group">
                            <label for="field_phone" class="moto-widget-contact_form-label">Phone</label>
                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Phone "  ng-model-options="{ updateOn: 'blur' }" name="phone" id="field_phone" ng-model="message.phone"/>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.phone.$invalid && !contactForm.phone.$pristine && !contactForm.phone.emailInvalid" >Field is required</span>
                                                                                    </div>
                                    
                            
                            
                            
                                                                        <div class="moto-widget-contact_form-group">
                            <label for="field_message" class="moto-widget-contact_form-label">Message</label>
                            <textarea class="moto-widget-contact_form-field moto-widget-contact_form-textarea" rows="3" placeholder="Message *"  ng-blur="validate('message')" required  ng-model-options="{ updateOn: 'blur' }" name="message" id="field_message" ng-model="message.message"></textarea>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.message.$invalid && !contactForm.message.$pristine" >Field is required</span>
                                                    </div>
                                    
                            
            
                            <div class="moto-widget-contact_form-success ng-cloak" ng-cloak ng-show="emailSent">
                    Your message was sent successfully
                </div>
                <div class="moto-widget-contact_form-danger ng-cloak" ng-cloak ng-show="emailError">
                    Sorry, your message was not sent
                </div>
                        <div class="moto-widget-contact_form-buttons">

                            <div class="moto-widget moto-widget-button moto-preset-2 moto-align-left" data-preset="2" data-align="left">
                    <a ng-click="submit();" class="moto-widget-button-link moto-size-medium" data-size="medium"><span class="fa moto-widget-theme-icon"></span><span class="moto-widget-button-label">SEND MESSAGE</span></a>
                </div>
                <button type="submit" class="hidden"></button>
            
            </div>
        </form>
    </div>
    </div>
        
    
</div>

                
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
    
    
</div>

                
            
        </div>
    </div>
</div>
                    
                
            </div>
        </div>
    </div>
</div>            
        </section>
    </div>

    <footer id="section-footer" class="footer moto-section" data-widget="section" data-container="section">
                                <div class="moto-widget moto-widget-block moto-bg-color_custom1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="block" data-spacing="aama" style="" data-bg-position="left top">
    
    <div class="container-fluid">
        <div class="row">
            <div class="moto-cell col-sm-12" data-container="container">
                
            <div data-widget-id="wid__spacer__5b1649362cbed" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="mama" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="">
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
    
        
            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aama" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_1"><a data-action="page" data-id="1" class="moto-link" href="index.html">CLEAR SKIN</a></p><p class="moto-text_system_2"><a href="index.html" data-action="page" data-id="1" class="moto-link"><span class="moto-color5_5">DERMATOLOGY CLINIC</span></a></p></div>
</div>
        
    
</div>

                
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
    
        
            


        
    
<div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="aama" style="">
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-xs-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_202"><a href="about-us.html" data-action="page" data-id="10" class="moto-link">About</a></p><p class="moto-text_202"><a href="services.html" data-action="page" data-id="13" class="moto-link">Services</a></p><p class="moto-text_202"><a href="doctors.html" data-action="page" data-id="12" class="moto-link">Doctors</a></p><p class="moto-text_202"><a href="testimonial.html" data-action="page" data-id="17" class="moto-link">Testimonial</a></p></div>
</div></div><div class="moto-widget moto-widget-row__column moto-cell col-xs-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_202"><a href="gallery.html" data-action="page" data-id="15" class="moto-link">Gallery</a></p><p class="moto-text_202"><a href="make-an-appointment.html" data-action="page" data-id="18" class="moto-link">Appointment</a></p><p class="moto-text_202"><a href="blog.html" data-action="blog.index" data-id="3" class="moto-link">News</a></p><p class="moto-text_202"><a href="contacts.html" data-action="page" data-id="16" class="moto-link">Contact Us</a></p></div>
</div></div>

                
            
        </div>
    </div>
</div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10"><span class="moto-color_custom2">PHONE</span></p><p class="moto-text_202"><a href="tel:1234567890" data-action="call" class="moto-link">+90 (123) 456 78 99</a></p></div>
</div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10"><span class="moto-color_custom2">EMAIL:</span></p><p class="moto-text_202"><a href="mailto:mail@demolink.com" data-action="mail" class="moto-link">mail@demolink.com</a></p></div>
</div><div id="wid_1528189047_ely1l2uy7" data-widget-id="wid_1528189047_ely1l2uy7" class="moto-widget moto-widget-social-links-extended moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="social_links_extended" data-preset="default">
        <ul class="moto-widget-social-links-extended__list">
                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-1">
            <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank" >
                <span class="moto-widget-social-links-extended__icon fa fa-facebook"></span>
            </a>
        </li>
                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-2">
            <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank" >
                <span class="moto-widget-social-links-extended__icon fa fa-twitter"></span>
            </a>
        </li>
                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-3">
            <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank" >
                <span class="moto-widget-social-links-extended__icon fa fa-instagram"></span>
            </a>
        </li>
                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-4">
            <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank" >
                <span class="moto-widget-social-links-extended__icon fa fa-youtube"></span>
            </a>
        </li>
                <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-5">
            <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank" >
                <span class="moto-widget-social-links-extended__icon fa fa-google-plus"></span>
            </a>
        </li>
            </ul>
    <style type="text/css">
                                                                    </style>
    </div></div>

                
            
        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="">
    
    <div class="container-fluid">
        <div class="row" data-container="container">
            
                
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
    
<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_203">© 2018 Clear Skin <a data-action="page" data-id="19" class="moto-link" href="/privacy-policy/">Privacy Policy</a>.&nbsp;Designed by&nbsp;<a target="_blank" rel="nofollow" data-action="url" class="moto-link" href="https://motocms.com">MotoCMS.com</a></p></div>
</div></div>

                
            
        </div>
    </div>
</div></div>
        </div>
    </div>
</div>            
    </footer>

                     <div data-moto-back-to-top-button class="moto-back-to-top-button">
        <a ng-click="toTop($event)" class="moto-back-to-top-button-link">
            <span class="moto-back-to-top-button-icon fa"></span>
        </a>
    </div>
                <script src="assets/js/website.assets.min.js?_build=1538056236" type="text/javascript" data-cfasync="false"></script>
    <script type="text/javascript" data-cfasync="false">
        var websiteConfig = websiteConfig || {};
        websiteConfig.address = 'https://template66410.motopreview.com/';
        websiteConfig.addressHash = 'dba77c746ad1dc773d60c50a3820a03c';
        websiteConfig.apiUrl = '/api.php';
        websiteConfig.preferredLocale = 'en_US';
        websiteConfig.preferredLanguage = websiteConfig.preferredLocale.substring(0, 2);
                websiteConfig.back_to_top_button = {"topOffset":300,"animationTime":500,"type":"theme"};
                websiteConfig.popup_preferences = {"loading_error_message":"The content could not be loaded."};
        websiteConfig.lazy_loading = {"enabled":true};
        websiteConfig.cookie_notification = {"enabled":false,"content":"<p class=\"moto-text_normal\">This website uses cookies to ensure you get the best experience on our website.<\/p>","content_hash":"6200d081e0d72ab7f5a8fe78d961c3ec"};
        angular.module('website.plugins', []);
    </script>
    <script src="assets/js/website.min.js?_build=1538056223" type="text/javascript" data-cfasync="false"></script>
        <script type="text/javascript">$.fn.motoGoogleMap.setApiKey('AIzaSyAk8PGBXexyvCl_XGQDHqTfrNhZ1zYHFTI');</script>
                
    
    
</body>
</html>